@layer reset, utils, logo, gameArea, info;

@import url(./reset.css);
@import url(./utils.css);

@layer logo {
    .logo {
        font-size: 48px;
        font-weight: 800;
        display: block;
        line-height: 1;
        text-align: left;
        margin-top: 50px;
        margin-left: 30px;
    }

    .logo-1 {
        color: #fff;
        background-color: var(--bg-color);
        padding: 2px 5px;
        border-radius: 5px 0 0 5px;
        letter-spacing: -2px;
    }

    .logo-2 {
        color: var(--bg-color);
        background-color: var(--accent-color);
        padding: 2px 10px;
        border-radius: 10px;
        border: 2px solid var(--bg-color);
        border-left: none;
        box-shadow: 2px 2px 0 var(--bg-color);
        margin-left: -1px;
    }
}

@layer gameArea {
    .aim-trainer {
        position: relative;
        text-align: center;
        margin-bottom: 20px;
        color: white;
    }

    .gf-wrapper {
        margin-top: 60px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .game-field {
        width: 800px;
        height: 450px;
        background-color: #222020d5;
        border: 5px solid var(--accent-color);
        position: relative;
        overflow: hidden;
    }

    .target {
        position: absolute;
        background-color: var(--accent-color); /* Колір мішені */
        border-radius: 50%;
        cursor: crosshair;
        transition: transform 0.1s;
    }

    .target:active {
        transform: scale(0.8);
    }
}

@layer info {
    .btn-start {
        display: block;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        background-color: var(--bg-color);
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .score, .score-time {
        position: absolute;
        top: 0;
        transform: translateY(-36px);
        color: #fff;
        white-space: nowrap;
    }

    .score {
        left: calc(50% - 400px);
    }

    .score-time {
        left: calc(50% + 400px);
        transform: translateY(-36px) translateX(-100%); 
    }
}