@layer utils {
     body {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
    }

    :root {
        --accent-color: #ff9000;
        --bg-color: black;
    }
}